<div class="container-fluid">
  <br>
  <div class="row">
    <a href="/agent-management" class="btn btn-primary">Refresh</a>
  </div>
  {{#if msg}}
  <div class="row msg" id="rcorners1"><i class="fas fa-info-circle"></i>&nbsp;{{msg}}</div>
  {{/if}}
<br>
 
  <style>
    
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    text-align: left;
    padding: 8px;
  }

  td {
    font-size: 15px;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
  </style>

  <style> 
#rcorners1 {
  border-radius: 0.25rem;
  padding: 20px; 
  width: 340px;
  height: 65px;  
  color: #fff;
  background-color: #1662dd;
  border-color: #1662dd;
}
</style>

  <table>

  <!-- Below are the column headers -->
  <thead>
  <tr>
  <th>Hostname</th>
  <th>Operating System</th>
  <th>AWS Instance ID</th>
  <th></th>
  </tr>
  </thead>

  <tbody>
  <!-- This "each" is the beginning of the loop -->
  {{#each servers}}

  <!-- Below is a table row and cells, with the question references (starting AFTER the rows container)-->
  <tr>
  <td>
    {{this.hostname}}
  </td>
    <td>
    {{this.os}}
  </td>
  <td>
    {{this.instance_id}}
  </td>
  <td>
    <a href="/agent-management/deploy?instance={{this.instance_id}}&os={{this.os}}">Deploy Agent <i class="fas fa-parachute-box"></i>
    </a>
  </td>

  </tr>

  <!-- This is the end of the loop-->
  {{/each}}

  </tbody>
  </table>


  </div>
