<div class="container-fluid">
  <br>
  <div class="row">
    <a href="/" class="btn btn-primary">Refresh</a>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="sft-content">
        <div class="sft-list" id="sft-list-server">
          <div class="sft-list-header" style="display: flex; justify-content: space-between;">
            <div style="display: inline-block;"></div>
            <fieldset class="ods-fieldset">
              <!-- <div class="ods-fieldset-flex">
                <input class="ods-text-input sft-list-filter" id="auto-id--wcxz58hs9l" placeholder="find by name..." type="text" value="">
              </div> -->
            </fieldset>
          </div>
          <div class="sft-list-body">
            <div class="sft-list-body__header" style="position: relative;">
              <div class="row">
                <div class="col-sm-6">
                  date & time
                </div>
                <div class="col-sm-4">
                  username
                </div>
                <div class="col-sm-2">
                  launch
                </div>

              </div>
            </div>
            <div style="overflow: visible; width: 0px;">
              <div>
                <div aria-label="grid" aria-readonly="true" class="ReactVirtualized__Grid ReactVirtualized__List" role="grid" style="box-sizing: border-box; direction: ltr; height: auto; position: relative; width: 887px; will-change: transform; overflow: hidden visible;">
                  <div class="ReactVirtualized__Grid__innerScrollContainer" role="rowgroup" style="width: auto; height: 246px; max-width: 887px; max-height: 246px; overflow: hidden; position: relative;">
                    {{#each files}}
                    <div class="sft-list-body__row sft-fixed-height-row" style="height: 41px; left: 0px; top: 0px; width: 100%;">
                      <div class="row">
                        <div class="col-sm-6">

                          <a>
                            <svg aria-hidden="true" class="svg-inline--fa fa-server fa-w-16" data-icon="server" data-prefix="fas" role="img" viewbox="0 0 512 512" xmlns="http://www.w3.org/2000/svg">
                              <path d="M480 160H32c-17.673 0-32-14.327-32-32V64c0-17.673 14.327-32 32-32h448c17.673 0 32 14.327 32 32v64c0 17.673-14.327 32-32 32zm-48-88c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24zm-64 0c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24zm112 248H32c-17.673 0-32-14.327-32-32v-64c0-17.673 14.327-32 32-32h448c17.673 0 32 14.327 32 32v64c0 17.673-14.327 32-32 32zm-48-88c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24zm-64 0c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24zm112 248H32c-17.673 0-32-14.327-32-32v-64c0-17.673 14.327-32 32-32h448c17.673 0 32 14.327 32 32v64c0 17.673-14.327 32-32 32zm-48-88c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24zm-64 0c-13.255 0-24 10.745-24 24s10.745 24 24 24 24-10.745 24-24-10.745-24-24-24z" fill="currentColor">
                              </path>
                            </svg>{{this.date}} {{this.time}}
                          </a>

                        </div>
                        <div class="col-sm-4">
                          <a>
                            <svg aria-hidden="true" class="svg-inline--fa fa-project fa-w-16" data-icon="project" data-prefix="fas" role="img" viewbox="0 0 16 16" xmlns="http://www.w3.org/2000/svg">
                              <path d="M0.392565 3.78632H5.88847C6.10528 3.78632 6.28104 3.61056 6.28104 3.39376V2.60863C6.28104 2.39182 6.10528 2.21606 5.88847 2.21606H0.392565C0.175759 2.21606 0 2.39182 0 2.60863V3.39376C0 3.61056 0.175759 3.78632 0.392565 3.78632ZM5.0052 3.00119C5.0052 2.83859 5.13702 2.70677 5.29962 2.70677C5.46223 2.70677 5.59405 2.83859 5.59405 3.00119C5.59405 3.1638 5.46223 3.29562 5.29962 3.29562C5.13702 3.29562 5.0052 3.1638 5.0052 3.00119ZM4.22007 3.00119C4.22007 2.83859 4.35189 2.70677 4.51449 2.70677C4.6771 2.70677 4.80892 2.83859 4.80892 3.00119C4.80892 3.1638 4.6771 3.29562 4.51449 3.29562C4.35189 3.29562 4.22007 3.1638 4.22007 3.00119Z M6.28104 4.66284H3.02165C2.69791 4.66284 2.43547 4.92528 2.43547 5.24902V5.74915H0.392565C0.175759 5.74915 0 5.57339 0 5.35658V4.57145C0 4.35465 0.175759 4.17889 0.392565 4.17889H5.88847C6.10528 4.17889 6.28104 4.35465 6.28104 4.57145V4.66284Z M2.43547 6.14171V7.71197H0.392565C0.175759 7.71197 0 7.53621 0 7.31941V6.53428C0 6.31747 0.175759 6.14171 0.392565 6.14171H2.43547Z M10.1115 3.78632H15.6074C15.8242 3.78632 16 3.61056 16 3.39376V2.60863C16 2.39182 15.8242 2.21606 15.6074 2.21606H10.1115C9.89472 2.21606 9.71897 2.39182 9.71897 2.60863V3.39376C9.71897 3.61056 9.89472 3.78632 10.1115 3.78632ZM14.7242 3.00119C14.7242 2.83859 14.856 2.70677 15.0186 2.70677C15.1812 2.70677 15.313 2.83859 15.313 3.00119C15.313 3.1638 15.1812 3.29562 15.0186 3.29562C14.856 3.29562 14.7242 3.1638 14.7242 3.00119ZM13.939 3.00119C13.939 2.83859 14.0709 2.70677 14.2335 2.70677C14.3961 2.70677 14.5279 2.83859 14.5279 3.00119C14.5279 3.1638 14.3961 3.29562 14.2335 3.29562C14.0709 3.29562 13.939 3.1638 13.939 3.00119Z M13.5648 5.74915H15.6074C15.8242 5.74915 16 5.57339 16 5.35658V4.57145C16 4.35465 15.8242 4.17889 15.6074 4.17889H10.1115C9.89472 4.17889 9.71897 4.35465 9.71897 4.57145V4.66284H12.9786C13.3024 4.66284 13.5648 4.92528 13.5648 5.24902V5.74915ZM14.7242 4.96402C14.7242 4.80141 14.856 4.66959 15.0186 4.66959C15.1812 4.66959 15.313 4.80141 15.313 4.96402C15.313 5.12662 15.1812 5.25844 15.0186 5.25844C14.856 5.25844 14.7242 5.12662 14.7242 4.96402ZM13.939 4.96402C13.939 4.80141 14.0709 4.66959 14.2335 4.66959C14.3961 4.66959 14.5279 4.80141 14.5279 4.96402C14.5279 5.12662 14.3961 5.25844 14.2335 5.25844C14.0709 5.25844 13.939 5.12662 13.939 4.96402Z M13.5648 7.71197V6.14171H15.6074C15.8242 6.14171 16 6.31747 16 6.53428V7.31941C16 7.53621 15.8242 7.71197 15.6074 7.71197H13.5648ZM14.7242 6.92684C14.7242 6.76423 14.856 6.63242 15.0186 6.63242C15.1812 6.63242 15.313 6.76423 15.313 6.92684C15.313 7.08945 15.1812 7.22126 15.0186 7.22126C14.856 7.22126 14.7242 7.08945 14.7242 6.92684ZM13.939 6.92684C13.939 6.76423 14.0709 6.63242 14.2335 6.63242C14.3961 6.63242 14.5279 6.76423 14.5279 6.92684C14.5279 7.08945 14.3961 7.22126 14.2335 7.22126C14.0709 7.22126 13.939 7.08945 13.939 6.92684Z M12.2521 7.70963H3.74809C3.41262 7.70963 3.14066 7.43768 3.14066 7.1022V5.88734C3.14066 5.55187 3.41262 5.27991 3.74809 5.27991H12.2521C12.5876 5.27991 12.8596 5.55187 12.8596 5.88734V7.1022C12.8596 7.43768 12.5876 7.70963 12.2521 7.70963ZM11.341 6.0392C11.0894 6.0392 10.8854 6.24316 10.8854 6.49477C10.8854 6.74638 11.0894 6.95034 11.341 6.95034C11.5926 6.95034 11.7966 6.74638 11.7966 6.49477C11.7966 6.24316 11.5926 6.0392 11.341 6.0392ZM10.1261 6.0392C9.87452 6.0392 9.67055 6.24316 9.67055 6.49477C9.67055 6.74638 9.87452 6.95034 10.1261 6.95034C10.3777 6.95034 10.5817 6.74638 10.5817 6.49477C10.5817 6.24316 10.3777 6.0392 10.1261 6.0392ZM12.2521 10.7468H3.74809C3.41262 10.7468 3.14066 10.4748 3.14066 10.1394V8.9245C3.14066 8.58902 3.41262 8.31707 3.74809 8.31707H12.2521C12.5876 8.31707 12.8596 8.58902 12.8596 8.9245V10.1394C12.8596 10.4748 12.5876 10.7468 12.2521 10.7468ZM11.341 9.07636C11.0894 9.07636 10.8854 9.28032 10.8854 9.53193C10.8854 9.78354 11.0894 9.9875 11.341 9.9875C11.5926 9.9875 11.7966 9.78354 11.7966 9.53193C11.7966 9.28032 11.5926 9.07636 11.341 9.07636ZM10.1261 9.07636C9.87452 9.07636 9.67055 9.28032 9.67055 9.53193C9.67055 9.78354 9.87452 9.9875 10.1261 9.9875C10.3777 9.9875 10.5817 9.78354 10.5817 9.53193C10.5817 9.28032 10.3777 9.07636 10.1261 9.07636ZM12.2521 13.784H3.74809C3.41262 13.784 3.14066 13.512 3.14066 13.1765V11.9617C3.14066 11.6262 3.41262 11.3542 3.74809 11.3542H12.2521C12.5876 11.3542 12.8596 11.6262 12.8596 11.9617V13.1765C12.8596 13.512 12.5876 13.784 12.2521 13.784ZM11.341 12.1135C11.0894 12.1135 10.8854 12.3175 10.8854 12.5691C10.8854 12.8207 11.0894 13.0247 11.341 13.0247C11.5926 13.0247 11.7966 12.8207 11.7966 12.5691C11.7966 12.3175 11.5926 12.1135 11.341 12.1135ZM10.1261 12.1135C9.87452 12.1135 9.67055 12.3175 9.67055 12.5691C9.67055 12.8207 9.87452 13.0247 10.1261 13.0247C10.3777 13.0247 10.5817 12.8207 10.5817 12.5691C10.5817 12.3175 10.3777 12.1135 10.1261 12.1135Z" fill="currentColor">
                              </path>
                            </svg>{{this.username}}
                          </a>
                        </div>

                        <div class="col-sm-2">
                          {{#each this.storage}}
                          <a href="/playback?recording={{../filename}}&storage={{this}}">
                              {{this}}
                          </a>
                          {{/each}}
                        </div>
                      </div>
                    </div>
                    {{/each}}
                  </div>

                  </div>
                </div>
              </div>
            </div>


            <!-- The Modal 1-->
              <div id="modalOne" class="modal">

              <!-- Modal content -->
              <div class="modal-content">
              <span class="close">&times;</span>

            </div>
          </div>


            <div class="resize-triggers">
              <div class="expand-trigger">
                <div style="width: 888px; height: 297px;"></div>
              </div>
              <div class="contract-trigger"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
