<div class="container-fluid">
  <br>
  <div class="row">
    <a href="/" class="btn btn-primary">Refresh</a>
  </div>
<br>
  <style>
  table {
    border-collapse: collapse;
    width: 100%;
  }

  th {
    text-align: left;
    padding: 8px;
  }

  td {
    font-size: 15px;
    text-align: left;
    padding: 8px;
  }

  tr:nth-child(even) {background-color: #f2f2f2;}
  </style>

  <table>

  <!-- Below are the column headers -->
  <thead>
  <tr>
  <th>Date & Time</th>
  <th>Username</th>
  <th>Replay</th>
  </tr>
  </thead>

  <tbody>
  <!-- This "each" is the beginning of the loop -->
  {{#each files}}

  <!-- Below is a table row and cells, with the question references (starting AFTER the rows container)-->
  <tr>
  <td>
    <i class="fas fa-calendar-week"></i>&nbsp{{this.date}} {{this.time}}
  </td>
  <td>
    <i class="fas fa-user"></i>&nbsp{{this.username}}
  </td>
  <td>
  {{#each this.storage}}
    <i class="fas fa-video"></i> Replay From:<a href="/playback?recording={{../filename}}&storage={{this}}">
      {{this}}
    </a>
      {{/each}}
  </td>

  </tr>

  <!-- This is the end of the loop-->
  {{/each}}

  </tbody>
  </table>


  </div>
